body{
    background-color: #9f00a7;
}


.banner{
    background-color: #00a300;
    padding: 10px;
    margin: -10px;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
    font-size: 2rem;
}

h4{
    color: white;
    font-size: 1rem;
}

h3{
    color: white;
    font-size: 1.3rem;
}

.dropdown{
    display: flex;
    justify-content: center;
    background-color: #00a300;
    padding: 10px;
}
.selections{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.player-name{
    font-size: 1.5rem;
    color: white;
}
.results{
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;
}
.board{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile{
    border: 1px solid black;
    font-size: 30px;
    width: 11%;
    height: 12%;
    text-align: center;
    align-items: center;
    flex-grow:1
}


.buttons{
    display: flex;
    justify-content: center;
    /* width: 250px; */
}

.checker-button{
    margin-top: 40px;
    /* background-image: url("../assets/images/checker.png"); */
    width: 250;
    height: 250
    ;
}

.button-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checker-button:hover{
    background-color: rgba(120,120,120,1);
}
.game-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.button{
    font-size: 15px;
    margin: 35px 10px 0 10px;
    height: 40px;
}

.main{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    align-items: center;
}

.wrapper{
    position: relative;
}


#win{
    display: flex;
    justify-content: center;
    align-items: center;
}
.winning-banner{
    display: none;
    position: relative;
    z-index: 2;
    background-color: #00a300;
    width: auto;
    height: 200px;

    color: white;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;

}

.dropdown{
    margin-top: 20px;
}

.color{
    width: 80px;
    height: 30px;
}
@media(max-width: 550px){
    .tile{
        border: 1px solid black;
        font-size: 20px;
        width: 11%;
        height: 12%;
        text-align: center;
        vertical-align: middle;
    }
    .board{
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;  
    }

    .players{
        border:1px solid white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px auto 10px auto;
    }
    .player-name{
        margin: 10px;
        font-size: 1.2rem;
        color: white;
    }
    .results{
        font-size: 1.2rem;
        margin: 10px;
        color: white;
    }
}